/* FORM ELEMENTS */

input{
    padding: .5em;
    width: 150px;
    background: #FCFCFC;
    border: 1px solid; 
}
/* TABLE */
table {
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    height: 2.15em;
  }
  
  tr,td,th {
    border: 1px solid black;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: .5em;
    min-width: 3.5em;
  }